#!/usr/bin/env xdg-open

[Desktop Entry]
Name=StationHub
Comment=Connect to Unitystation servers & manage your installs
#Note to packagers: Write a simple .sh running
# 1. A dotnet binary you know is available with the argument
# 2. The path to stationhub.dll
# And then place somewhere appropriate in the path
Exec=stationhub.sh
Type=Application
Icon=org.unitystation.StationHub
Categories=Game
Name[en_US]=StationHub.desktop
