name: .NET Core

on:
  push:
    branches:
      - "develop"
  pull_request:
    branches:
      - "*"

env:
  DOTNET_VERSION: '6.0.x'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Format check
        run: |
          dotnet format --verify-no-changes

      - name: Test
        run: |
          dotnet test

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target-platform:
          - "win-x64"
          - "linux-x64"
          - "osx-x64"

    steps:
      # Setup
      - uses: actions/checkout@v3
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      # Build
      - name: Publish MacOS
        if: ${{ contains(matrix.target-platform, 'osx-x64' )}}
        run: |
          dotnet publish --configuration Release --runtime ${{ matrix.target-platform }} -t:BundleApp -p:RuntimeIdentifier=${{ matrix.target-platform }} -p:UseAppHost=true --output ~/publish \
          && sudo chmod +x ~/publish/StationHub.app/Contents/MacOS/StationHub \
          && cd ~/publish \
          && tar -cvf ~/publish/StationHub.tar StationHub.app
      - name: Publish
        if: ${{ !contains(matrix.target-platform, 'osx-x64' )}}
        run: |
          dotnet publish --configuration Release --runtime ${{ matrix.target-platform }} --output ~/publish

      # Upload
      - name: Upload MacOS Build
        if: ${{ contains(matrix.target-platform, 'osx-x64' )}}
        uses: actions/upload-artifact@v3
        with:
          name: StationHub-${{ matrix.target-platform }}
          path: ~/publish/StationHub.tar
      - name: Upload Build
        if: ${{ !contains(matrix.target-platform, 'osx-x64' )}}
        uses: actions/upload-artifact@v3
        with:
          name: StationHub-${{ matrix.target-platform }}
          path: ~/publish
