name: .NET Core

on:
  push:
    branches:
      - "develop"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target-platform:
          - "win-x64"
          - "linux-x64"
          - "osx-x64"

    steps:
      - uses: actions/checkout@v1
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.x'
      - name: Test
        run: |
          dotnet test
      - name: Publish
        run: |
          dotnet publish --configuration Release --runtime ${{ matrix.target-platform }} --output ~/publish
      - name: Upload Build
        uses: actions/upload-artifact@v2
        with:
          name: StationHub-${{ matrix.target-platform }}
          path: ~/publish

  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Add dotnet-format problem matcher
        uses: xt0rted/dotnet-format-problem-matcher@v1

      - name: Restore dotnet tools
        uses: xt0rted/dotnet-tool-restore@v1

      - name: Run dotnet format
        uses: jfversluis/dotnet-format@v1.0.9
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          action: check
          only-changed-files: true
          workspace: "UnitystationLauncher.sln"
